@tailwind base;
:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(160, 156, 156);
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
html { scroll-behavior: smooth;}
@tailwind components;
@tailwind utilities;

.img1{
  background-image: url('./assets/img/fondo.jpg');
  background-color: #cccccc;
  background-size: cover;
  background-attachment: fixed; /* Esto evita que la imagen se desplace con el contenido */
  height: 100vh; /* Ajusta la altura al 100% de la altura de la ventana (viewport) */
}
.img2{
  background-image: url('./assets/img/fondo2.jpg');
  background-color: #cccccc;
  background-size: cover;
  background-attachment: fixed; /* Esto evita que la imagen se desplace con el contenido */
  height: 100vh; /* Ajusta la altura al 100% de la altura de la ventana (viewport) */
}

/*Style for Phone number alert*/
.display{
  display: none;
}
.alert {
  padding: 15px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  border-color: #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}