@tailwind base;
:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(160, 156, 156);
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
html { scroll-behavior: smooth;}
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    background-image: url('./assets/img/fondo.jpg');
    background-size: cover;
    color: white;
    background-attachment: fixed; /* Esto evita que la imagen se desplace con el contenido */
    height: 100vh;
  }